/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*Beginning CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End CSS Reset*/

body {
  background-color:#f9f9f9;
}

 a{
   -o-transition:5s;
   -ms-transition:5s;
   -moz-transition:5s;
   -webkit-taransition:5s;
   transition:5s;
   text-decoration: none;
 }
em {
  font-style: oblique;
}
strong {
  font-style: bold;
}
img {
  width:100%
}
h1,h2,h3,h4,h5 {
  font-family: sans-serif,sans-serif;
  font-style: normal;
}
h3{
  text-transform: capitalize;
  font-size:1.875em;
  padding:0 0 1% 0;
  color:#001833;
  font-weight:800;
}
header{
  background: linear-gradient;(rgba(224,204,200, 1.0),
  rgba(224,204,200,0.90))
}
